@import "tailwindcss";

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(240, 5.9%, 10%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-baloo2);
  --font-mono: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-poppins), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #813d50;
}
